{% extends "layout.html" %}
{% block title %} Add Label {% endblock %}
{% block content %}

<div class="container my-5">
  <h1 class="py-10 my-4 text-5xl text-center bg-gray-800 shadow-lg ring-8 ring-gray-500 text-gray-50">Add Label</h1>
  <form method="post" action="{{ request.path }}" class="grid gap-2 py-5 mx-10 border-2 border-dotted">
    {{ data.csrf_token }}
    
    {% if data.subdomains %}
      Search the labels.
      <table class="table-fixed">
        Choose the subdomain from subdomains.
        {% for i in data.subdomains %}
        <tr>
          <td><input type="radio" name="subdomain_id" value="{{ i['subdomain_id'] }}"></td>
          <td><span style="padding: 0 4px;margin: 0 2px; background-color: {{i['domain_color']}};"></span>{{ i['domain_name'] }}</td>
          <td><i class="{{ i['subdomain_icon'] }}"></i>{{ i['subdomain_name'] }}</td>
          <td>{{ i['domain_description'] }}</td>
        </tr>
        {% endfor %}
      </table>
    
    {% if message %}
      <h2>{{ message }}</h2>
    {% endif %}
    
    {% for field, msg in data.errors.items() %}
      {% for i in msg: %}
        <div class="py-2 text-lg text-center bg-gray-100 mx-36">
          <strong>{{ msg[i][0] }}</strong>
        </div>
      {% endfor %}
    {% endfor %}

    <div class="mx-10">
      {% for field in data.form %}
        {% if field.name != 'form-csrf_token' %}
          <div class="flex flex-row block gap-4 py-2">
            {{ field.label(class='text-sm text-lg font-medium text-gray-700 w-44') }}
            {{ field }}
          </div>
        {% else %}
          {{ field.label(class='hidden') }}
          {{ field(class='hidden') }}
        {% endif %}
      {% endfor %}
    </div>

    {{ data.submit }}
    {% else %}
    <p>the subdomains are not found or all subdomains are set to the image.</p>
    {% endif %}
  </form>
</div>

{% endblock %}