{% extends "layout.html" %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
  <div class="container flex flex-col mx-auto my-4">
    <form action="{{ request.path }}" method="get">
      <div class="flex flex-row items-center">
        <h1 class="w-full p-5 text-4xl leading-8 bg-gray-50">{{ title }}</h1>
        <div class="w-full text-right">
          <a class="px-4 py-2 text-black bg-indigo-50 " href="{{ url_for('criterias_add_page') }}">New Criteria</a>
        </div>
      </div>
      <div class="grid items-center grid-cols-3 gap-4 p-4 mx-5 my-5 border-2 border-gray-200 border-dotted">
        <div class="space-x-2">
          <label for="For Contribution From">For Contribution From</label>
          <input type="search" name="search_from_for_contribution" value="{{ search['search_from_for_contribution'] }}" class="px-4 py-1 text-white bg-gray-300 focus:bg-gray-50 focus:text-black">
        </div>
        <div class="space-x-2">
          <label for="Correctness From">Correctness From</label>
          <input type="search" name="search_from_for_contribution" value="{{ search['search_from_for_contribution'] }}" class="px-4 py-1 text-white bg-gray-300 focus:bg-gray-50 focus:text-black">
        </div>
        <div class="space-x-2">
          <label for="Wrongness From">Wrongness From</label>
          <input type="search" name="search_from_for_contribution" value="{{ search['search_from_for_contribution'] }}" class="px-4 py-1 text-white bg-gray-300 focus:bg-gray-50 focus:text-black">
        </div>
        <div class="space-x-2">
          <label for="For Contribution To">For Contribution To</label>
          <input type="search" name="search_to_for_contribution" value="{{ search['search_to_for_contribution'] }}" class="px-4 py-1 text-white bg-gray-300 focus:bg-gray-50 focus:text-black">
        </div>
        <div class="space-x-2">
          <label for="Correctness To">Correctness To</label>
          <input type="search" name="search_to_for_contribution" value="{{ search['search_to_for_contribution'] }}" class="px-4 py-1 text-white bg-gray-300 focus:bg-gray-50 focus:text-black">
        </div>
        <div class="space-x-2">
          <label for="Wrongness To">Wrongness To</label>
          <input type="search" name="search_to_for_contribution" value="{{ search['search_to_for_contribution'] }}" class="px-4 py-1 text-white bg-gray-300 focus:bg-gray-50 focus:text-black">
        </div>
        <div class="space-x-2">
          <label for="Count of Images used From">Count of Images used From</label>
          <input type="search" name="search_from_count_images_used" value="{{ search['search_from_count_images_used'] }}" class="px-4 py-1 text-white bg-gray-300 focus:bg-gray-50 focus:text-black">
        </div>
        <div class="space-x-2">
          <label for="Count of Images used To">Count of Images used To</label>
          <input type="search" name="search_to_count_images_used" value="{{ search['search_to_count_images_used'] }}" class="px-4 py-1 text-white bg-gray-300 focus:bg-gray-50 focus:text-black">
        </div>
        
        <div class="space-x-2">
          <button type="submit" class="w-full px-2 py-1 text-base font-medium text-white bg-yellow-500 rounded-md">Filter</button>
        </div>
      </div>
      <div class="space-x-2 text-right">
        {% if sort_by %}
          <select name="sort_by" class="p-2 my-2 leading-8 bg-gray-100" >
            {% for key, value in sort_by.items() %}
              {% if selected_sort == key %}
                <option value="{{key}}" selected>{{value}}</option>
              {% else %}
                <option value="{{key}}">{{value}}</option>
              {% endif %}
            {% endfor %}
          </select>  
          <button type="submit" class="px-2 py-1 text-base font-medium text-white bg-green-500 rounded-md">Sort</button>
        {% endif %}
      </div>
    </form>

    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <div class="overflow-hidden border-b border-gray-200 shadow sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-100">
              <tr>
                <th scope="col" class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
                  For Contribution
                </th>
                <th scope="col" class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
                  Correctness
                </th>
                <th scope="col" class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
                  Wrongness
                </th>
                <th scope="col" class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
                  Name
                </th>
                <th scope="col" class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
                  Surname
                </th>
                <th scope="col" class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
                  Count of Images used
                </th>
                <th scope="col" class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
                  Operations
                </th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              {% for i in data %}
              <tr>
                <td class="px-6 py-4 whitespace-nowrap">{{ i.for_contribution }}</td>
                <td class="px-6 py-4 whitespace-nowrap">{{ i.correctness }}</td>
                <td class="px-6 py-4 whitespace-nowrap">{{ i.wrongness }}</td>
                <td class="px-6 py-4 whitespace-nowrap">{{ i.uname }}</td>
                <td class="px-6 py-4 whitespace-nowrap">{{ i.surname }}</td>
                <td class="px-6 py-4 whitespace-nowrap">{{ i.count_images_used }}</td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <a href="{{ url_for('criterias_details_page', key=i.criteria_id) }}"  class="px-4 py-3 text-base font-medium text-white bg-gray-500 rounded-md">Details</a>
                  <a href="{{ url_for('criterias_update_page', key=i.criteria_id) }}"   class="px-4 py-3 text-base font-medium text-white bg-blue-500 rounded-md">Update</a>
                  <a href="{{ url_for('criterias_delete_page', key=i.criteria_id) }}"   class="px-4 py-3 text-base font-medium text-white bg-red-500 rounded-md">Delete</a>
                  <a href="{{ url_for('images_add_page', criteria_id=i.criteria_id) }}" class="px-4 py-3 ml-4 text-base font-medium text-white bg-yellow-500 rounded-md">Image Create</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          </div>
        </div>
      </div>
    </div>
          
{% endblock %}