<!doctype html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}{% endblock %} - Data Labelling Service</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='mytailwind.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <!-- <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.css" rel="stylesheet"> -->


</head>
<body>
  <div class="container mx-auto">
    {% for message in get_flashed_messages() %}
    <div class="notification is-info">{{ message }}</div>
    {% endfor %}
    
    <a href="{{ url_for('home_page') }}">home</a>
    <a href="{{ url_for('register_page') }}">register</a>
    <br />
    <ul style="display: inline-block;">
      <li>Domains</li>
      <ul style="list-style: square;">
        <li><a href="{{ url_for('domain_index_page') }}">Index</a></li>
        <li><a href="{{ url_for('domain_add_page') }}">Add</a></li>
      </ul>
    </ul>
    <ul style="display: inline-block;">
      <li>Subdomains</li>
      <ul style="list-style: square;">
        <li><a href="{{ url_for('subdomain_index_page') }}">Index</a></li>
      </ul>
    </ul>
    <br />
    {% if current_user.is_active %}
      <a href="{{ url_for('logout_page') }}">Logout</a>
    {% else %}
      <a href="{{ url_for('login_page') }}">login</a>
    {% endif %}

    {% block content %}{% endblock %}
  </div>  
</body>
</html>
