<!doctype html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}{% endblock %} - Data Labelling Service</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='mytailwind.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.css" rel="stylesheet"> 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />

</head>
<body class="bg-gray-50">
  <div class="container mx-auto py-10">
    <div class="flex">
      <a class="bg-gray-700 text-gray-50 rounded-xl px-6 py-4 mx-1" href="{{ url_for('home_page') }}">Home</a>
      {% if current_user.is_authenticated %}
        {% if current_user.is_admin %}
          <a class="bg-gray-700 text-gray-50 rounded-xl px-6 py-4 mx-1" href="{{ url_for('subdomains_index_page') }}">Subdomains</a>
          <a class="bg-gray-700 text-gray-50 rounded-xl px-6 py-4 mx-1" href="{{ url_for('domains_index_page') }}">Domains</a>
          <a class="bg-gray-700 text-gray-50 rounded-xl px-6 py-4 mx-1" href="{{ url_for('criterias_index_page') }}">Criterias</a>
          <a class="bg-gray-700 text-gray-50 rounded-xl px-6 py-4 mx-1" href="{{ url_for('images_index_page') }}">Images</a>
          <a class="bg-gray-700 text-gray-50 rounded-xl px-6 py-4 mx-1" href="{{ url_for('users_index_page') }}">Users</a>
        {% else %}

        {% endif%}
      {% else %}
        <a class="bg-gray-700 text-gray-50 rounded-xl px-6 py-4 mx-1" href="{{ url_for('users_add_page', usertype=9) }}">register|labeller</a>
        <a class="bg-gray-700 text-gray-50 rounded-xl px-6 py-4 mx-1" href="{{ url_for('users_add_page', usertype=8) }}">register|admin</a>
      {% endif %}
      
      {% if current_user.is_active %}
        <a class="bg-gray-300 text-gray-800 rounded-xl px-6 py-4 mx-1" href="{{ url_for('logout_page') }}">Change Password</a>  
        <a class="bg-gray-300 text-gray-800 rounded-xl px-6 py-4 mx-1" href="{{ url_for('logout_page') }}">Profile</a>  
        <a class="bg-gray-300 text-gray-800 rounded-xl px-6 py-4 mx-1" href="{{ url_for('logout_page') }}">Logout</a>
      {% else %}
        <a class="bg-blue-300 text-gray-800 rounded-xl px-6 py-4 mx-1" href="{{ url_for('login_page') }}">login</a>
      {% endif %}
    </div>
    <div class="py-4">
      {% block content %}{% endblock %}
    </div>
  </div>  
</body>
</html>
