{% extends "layout.html" %}
{% block title %} Register {% endblock %}
{% block content %}

<div class="container bg-red-100">
  <form method="post" action="{{ request.path }}" >
    {{ form.csrf_token }}
    <h1 class="display-4">Register</h1>
    <hr>
    {% for field, msg in form.errors.items() %}
      {% for i in msg: %}
        <div class="alert alert-warning" role="alert">
          <strong>{{ msg[i][0] }}</strong>
        </div>
      {% endfor %}
    {% endfor %}
    <hr>
    {{ form.register( class_ = "mt-5 table table-hover") }}
    <div class="text-center">
      {{ form.submit }}
  </form>
</div>

{% endblock %}